@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .contMenu {
        margin-top: 3%;
        display: flex;
        min-height: 550px;
    }
</style>



<div class="contMenu">
    
    <div style="margin-left: 20%">
        <div id="createSpareForm">
            <h2>Создание запчасти</h2>
            <form>
                <label>Название запчасти</label>
                <input id="NameSpare" style="margin-left:30px " /> <br />
                <label>Артикл</label>
                <input id="Article" style="margin-left:2px " /> <br />
                <label>Цена</label>
                <input id="Price" style="margin-left:30px " /> <br />
                <label>Описание запчасти</label>
                <input id="Description" style="margin-left:60px " /> <br />
                <label>Ссылка на картинку</label>
                <input id="Photo" style="margin-left:30px " /> <br />
                <button id="createButton">Создать</button>
            </form>
        </div>
        <div id="showAllUserForm" style="display: none">

        </div>
    </div>
</div>