@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .contMenu {
        margin-top: 3%;
        display: flex;
        min-height: 550px;
    }
</style>



<div class="contMenu">
    
    <div style="margin-left: 20%">
        <div id="createSpareForm">
            <h2>Create Spare</h2>
            <form>
                <label style="width: 200px" >Spare Name</label>
                <input id="NameSpare"/> <br />
                <label style="width: 200px">Article</label>
                <input id="Article" /> <br />
                <label style="width: 200px">Price</label>
                <input id="Price" /> <br />
                <label style="width: 200px">Description</label>
                <input id="Description"/> <br />
                <label style="width: 200px">Photo Url</label>
                <input id="Photo" /> <br />
                <button id="createButton">Create</button>
            </form>
        </div>
        <div id="showAllUserForm" style="display: none">

        </div>
    </div>
</div>

<script>
    document.getElementById("createButton").onclick = (e) => {
        e.preventDefault();
        const form = {
              NameSpare: document.getElementById("NameSpare").value,
              Article: document.getElementById("Article").value,
              Price: document.getElementById("Price").value,
              Description: document.getElementById("Description").value,
              Photo: document.getElementById("Photo").value,
              TypeSpareId: 1,
          };
        const config = {
                method: "POST",
                headers: { "Content-Type": "application/json"},
                body: JSON.stringify(form),
          };
          fetch("api/spares", config);
    }

</script>