@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .item2 {
        grid-area: menu;
    }

    .item3 {
        grid-area: main;
    }

    .grid-container {
        display: grid;
        grid-template-areas: 'header header header header header header' 'menu main main main right right' 'menu footer footer footer footer footer';
        grid-gap: 10px;
        padding: 10px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        display: flex;
        width: 90%;
        margin: 5px
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .container {
        padding: 2px 16px;
    }
</style>

@if (User.IsInRole("manager"))
{
    <a href="CreateSpare"> Create Spare </a>
}

@if (User.IsInRole("admin"))
{
    <a href="admin">Admin panel </a>
}


<div class="grid-container">
    <div class="item2" id="searchDiv">
        <label>Article</label>
        <input id="articleInput" type="text" />
    </div>
    <div class="item3">
        <ul id="lisOfPare"></ul>
    </div>
</div>

<script>
    const getCard = (artile) => {
        const card = document.createElement('div');
        card.className = 'card';
        const img = getImg(artile);
        card.appendChild(img);
        const container = getContainer(artile);
        card.appendChild(container);
        return card;
    }

    const getContainer = (article) => {
        const container = document.createElement('div');
        container.className = 'container';
        const title = getTitle(article.nameSpare, article.price);
        container.appendChild(title);
        const description = getDescription(article.description);
        container.appendChild(description);
        container.appendChild(getButon(article));
        return container;
    }

    const getButon = (spare) => {
        const button = document.createElement('button');
        button.onclick = (e) => {
            e.preventDefault();

            const form = {
                article: spare.article,
            };

            const config = {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(form),
            };
            fetch("/api/store", config);
        }
        button.appendChild(document.createTextNode("Order"))
        return button;
    }

    const getTitle = (title, price) => {
        const h4 = document.createElement('h4');
        const b = document.createElement('b');
        const text = document.createTextNode(title);
        const priceText = document.createTextNode(" " + price + " USD ");
        b.appendChild(text);
        h4.appendChild(b);
        h4.appendChild(priceText);
        return h4;
    }

    const getDescription = (description) => {
        const p = document.createElement('p');
        const text = document.createTextNode(description);
        p.appendChild(text);
        return p;
    }

    const getImg = (artile) => {
        const img = document.createElement('img');
        img.src = artile.photo;
        img.alt = artile.nameSpare;
        img.style.width = '20%';
        img.style.height = '150px';
        return img;
    }

    const fetchSpare = async () => {
        return fetch("api/spares").then((x) => x.json());
    }

    function drawSpare(spares) {
        const listOdPare = document.getElementById("lisOfPare");
        for (let i = 0; i < 5 && i < spares.length; i++) {
            listOdPare.appendChild(getCard(spares[i]));
        }
    }

    const fetchSpareAndDraw = async () => {
        const spares = await fetchSpare();
        drawSpare(spares);
    }


    fetchSpareAndDraw();

</script>

<script>
    async function handlerOnClick() {
        const article = document.getElementById("articleInput").value;
        const query = await fetch(`api/spares/${article}`);
        const spares = await query.json();
        document.getElementById("lisOfPare").innerHTML = "";
        drawSpare(spares);
    }

    const button = document.createElement("button");
    button.onclick = handlerOnClick;
    button.append(document.createTextNode("Find"));
    document.getElementById("searchDiv").appendChild(button);
</script>
